# Object files
*.o

# Files used to embed src/canace.tcl in executable at compile time
src/libtkwin.a
src/canace.tcl.h

# Executables
src/canace
tests/tape_test
tests/keyboard_test
tests/spooler_test

# Makefiles
Makefile

# Tape files
/*.tap
/*.TAP

# Vim Swap files
*.swp

# CMake files
CMakeFiles
CMakeCache.txt
*.cmake
/Testing
/install_manifest.txt
